body{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#calculator{
  width: 30vw;
  height: 75vh;
  border: 2px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}


